@import "helpers/variables/variables.scss";

.Button {
  width: 100%;
  max-width: 400px;
  height: 64px;
  border-radius: 12px;
  background-color: $orange-100;
  color: $white-100;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;

  @include onDesktop {
    width: 296px;
    height: 64px;
  }

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }
}
