.QuizPage {
    height: 100vh;
    background-color: #F5F5F7;
    padding: 133px 80px 122px;

    &__question {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: #1C1C21;
        max-width: 624px;
        margin: 0;
        text-align: start;
    }

    &__options {
        position: absolute;
        left: 80px;
        bottom: 122px;
        display: flex;
        flex-wrap: wrap;
        gap: 36px 0;
        max-width: calc(420px + 420px + 36px);
    }

    &__sidebar {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        top: 0;
        right: 0;
        width: 376px;
        height: 100%;
        padding-top: 166px;
        background-color: white;
    }
}