@import "helpers/variables/variables";

.Sidebar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 376px;
  height: 100%;
  background-color: $black-5;

  @include onDesktop {
    background-color: $white-100;
  }
}
